#hero {
	background: url('../images/header@0.5x.jpg') bottom center no-repeat;
	background-size: cover;
	height: 70vw;
	position: relative;

	.constraint {
		position: relative;
		height: 100%;
	}

	#logo {
		width: 60px;
		height: 60px;
		background: url('../images/logo.png');
		background-size: 100%;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	h1 {
		position: absolute;
		bottom: 0;
		color: #DBE8F8;
		font-size: 9.5vw;
		line-height: 1.1em;
		padding: 0.5em 0;

		strong {
			color: #ffffff;
		}
	}

	@media (min-width: 750px) {
		background: url('../images/header.jpg') bottom center no-repeat;
		background-size: cover;
		height: 70vw;
		min-height: 400px;
		max-height: 600px;

		#logo {
			width: 90px;
			height: 90px;
		}

		h1 {
			font-size: 4.5em;
			padding: 0.75em 0;
		}
	}
}

#hero-secondary {
    background: $primary-color;
    color: #fff;
    padding: 0.5em 0;

    p {
    	font-size: 1em;
    }

    img {
    	height: 1.15em;
    	vertical-align: baseline;
    	margin-bottom: -1px;
    }

    @media (min-width: 750px) {
	    p {
	    	font-size: 1.65rem;
	    	line-height: 1.5em;
	    }

	    img {
	    	height: auto;
	    }
	}
}